body {
  margin: 2%;
  border: 10%;
  border-style: solid;
  border-color: #4a6483;
  padding: 1%;
  font-family: Arial, Helvetica, sans-serif;
}


/* Create a top navigation bar with a black background color  */
.navbar {
  background-color: #61b5e1;
  position: sticky;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Create a right-aligned (split) link inside the navigation bar */
.navbar a.split {
  float: right;
  background-color: #4a6483;
  color: white;
}

.navbar a.shop {
  background-color: #aed1eb;
  color: black;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 70%;
  padding: 2%;
  width: 50rem;
  margin: 5%;
  border-radius: 50%;
}

.image2 {
  width: 500px;
  margin: 2.5%;
  border: 1%;
  padding: 0%;
  justify-content: center;
  height: auto;
}

h2 {
  margin: 1.5%;
  border: 10%;
  padding: 0%;
  display: flex;
  justify-content: center;
}

.iframe {
  margin: 1.5%;
  border: 1%;
  padding: 0%;
  height: auto;
  display: flex;
  justify-content:flex-end
  width="600"
  height="450"
  style="border:0"
}

p {
  line-height: 1.5;
}

#class {
  background-color: bisque;
}